.contact{
    min-height: 100vh;
}

.hero{
    min-height: 100vh;
}
.navbar{
    min-height: 6vh;
}

.form{
    min-height: 100vh;
}
.proyects{
    min-height: 100vh;
}
.about-me{
    min-height: 85vh;
}

@media screen and (max-width: 1024px){
    .hero{
        min-height: auto;
    }
    .proyects{
        min-height: auto;
    }
    .contact{
        min-height: auto;
        margin-bottom: 2rem;
    }
    .about-me{
        min-height: auto;
    }
    
}
